<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Engine</title>

    <script src="js/Draw.js"></script>
    <script src="js/Managers/Manager.js"></script>
    <script src="js/Managers/VariableManager.js"></script>

    <script src="js/Object/Object.js"></script>
    <script src="js/Vectors/Vector2.js"></script>
    <script  src="js/Rigidbody/Rigidbody2D.js"></script>
    <script  src="js/Collision/BoxCollider2D.js"></script>
    <script src="js/Renderer/Sprite2D.js"></script>
    <script src="js/Spring/Spring.js"></script>

</head>
<body>
    <canvas id="canvas" width="1024" height="512" style="border:1px solid #000000;">
        Browser doens't support the canvas element.
    </canvas>

    <div class="control-panel">

        <h1>Control Panel</h1>

        <div class="gravity">

            <h3>Gravity Values</h3>

            <p id="g">g costant:</p>
            <input id="gravity-slider" type="range" min="-100.81" max="100.81" value="9.81">
            <br>
            <button onClick="reset()"> Reset</button>
        </div>

        <hr>
        
    </div>
</body>

<script>
    function Initialize(){
        var pos = new Vector2(500, 40);
        var obj = new Object();

        obj.AddComponent(new Sprite2D('rect', pos, 100, 100, 'red', true, 2));
        obj.AddComponent(new Rigidbody2D(obj));
        obj.AddComponent(new BoxCollider2D(obj));

        var pos2 = new Vector2(80, 350);
        var obj2 = new Object();

        obj2.AddComponent(new Sprite2D('circle', pos2, 50, 0, 'blue', true, 2));

        Awake();
    }

    function reset() {
        console.log("Hello world");
        // Set a fake timeout to get the highest timeout id
        var highestTimeoutId = setTimeout(";");
        for (var i = 0 ; i < highestTimeoutId ; i++) {
            clearTimeout(i); 
        }
        let ctx = getCanvas();
        let canvas = document.getElementById("canvas");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        delete(obj);
        delete(obj2);
        Initialize();
    }

    Initialize();

    setInterval(UpdateVariables, 1);

</script>
</html>