<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Engine</title>

    <link rel="stylesheet" href="/css/engine.css" type="text/css">
    
    <script src="js/PhysicsEngine.js"></script>

    <script src="js/Draw.js"></script>
    <script src="js/Managers/Manager.js"></script>
    <script src="js/Managers/VariableManager.js"></script>

    <script src="js/Object/Object.js"></script>
    <script src="js/Vectors/Vector2.js"></script>
    <script src="js/Rigidbody/Rigidbody2D.js"></script>
    <script src="js/Collision/Collider2D.js"></script>
    <script src="js/Renderer/Sprite2D.js"></script>
    <script src="js/Spring/Spring.js"></script>
    <script src="js/Draggable/Draggable.js"></script>

</head>
<body style="background-color: gray;">
    <div class="engine">
        <canvas onclick="clicked()" onmousemove="mouseCoordinates(event)" id="canvas" width="1024" height="512" style="border:1px solid #000000;">
            Browser doens't support the canvas element.
        </canvas>
    </div>


    <div class="inspector">
        <h1>Inspector</h1>
    </div>

    <div class="control-panel">

        <h1>Control Panel</h1>

        <div class="gravity">

            <h3>Gravity Values</h3>

            <p id="g">g costant:</p>
            <input id="gravity-slider" type="range" min="-100.81" max="100.81" value="9.81">
            <br>
        </div>

        <hr>
        
        <button onClick="Reset()">Reset</button>
        <button onClick="Play()">Play</button>
        <button onClick="Pause()">Pause</button>
        <button onClick="Default()">Default</button>
        <button onClick="Default()">Default</button>
    </div>

    <script>
        Default();
    </script>
</body>
</html>