<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Physics Engine</title>
        <script src="&js/draw.js"></script>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>
    <body>
        <div id="everything">
            <main>
                <h1 align="center"> Physics Engine</h1>
                <h2> About</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing commodo elit at imperdiet dui accumsan. Enim facilisis gravida neque convallis a cras semper auctor neque. Laoreet non curabitur gravida arcu. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Sed sed risus pretium quam vulputate. Sit amet aliquam id diam. Mi proin sed libero enim sed. Volutpat ac tincidunt vitae semper quis lectus nulla. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Diam vulputate ut pharetra sit amet aliquam id diam. Mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Ac tortor dignissim convallis aenean et tortor at risus. Adipiscing elit duis tristique sollicitudin nibh sit amet. Sociis natoque penatibus et magnis dis parturient montes. Vitae nunc sed velit dignissim sodales ut.</p>
                <p>Feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Ornare arcu dui vivamus arcu felis bibendum ut. Ut ornare lectus sit amet est placerat in egestas. Fringilla est ullamcorper eget nulla facilisi etiam dignissim. Et tortor consequat id porta. Augue ut lectus arcu bibendum at. Blandit massa enim nec dui nunc mattis. Id ornare arcu odio ut sem nulla pharetra. Arcu vitae elementum curabitur vitae nunc sed velit. Tincidunt id aliquet risus feugiat in ante. Adipiscing tristique risus nec feugiat in. Aliquet nec ullamcorper sit amet risus nullam eget felis. Eget nunc scelerisque viverra mauris in aliquam sem fringilla. Phasellus egestas tellus rutrum tellus pellentesque eu.</p>
                <p>Turpis nunc eget lorem dolor sed viverra ipsum. Ac tortor vitae purus faucibus ornare suspendisse. Orci sagittis eu volutpat odio. Nunc eget lorem dolor sed viverra ipsum nunc. Senectus et netus et malesuada fames ac turpis egestas. Ac turpis egestas sed tempus urna et pharetra. Tempus egestas sed sed risus pretium quam vulputate. Volutpat diam ut venenatis tellus. Ultrices in iaculis nunc sed augue lacus viverra. Commodo quis imperdiet massa tincidunt nunc. Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Quis blandit turpis cursus in. Rhoncus urna neque viverra justo. Orci porta non pulvinar neque laoreet suspendisse interdum. Sit amet consectetur adipiscing elit ut aliquam purus sit.</p>
            </main>
            <div id="all-preview">
                <div class="preview" onClick="changeScreen()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/PhysicsEngine.ogv/400px--PhysicsEngine.ogv.jpg"><br>Hello world</div>
                <div class="preview" onClick="changeScreen()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/PhysicsEngine.ogv/400px--PhysicsEngine.ogv.jpg"><br>Hello</div>
                <div class="preview" onClick="changeScreen()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/PhysicsEngine.ogv/400px--PhysicsEngine.ogv.jpg"><br>Hi world</div>
                <div class="preview" onClick="changeScreen()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/PhysicsEngine.ogv/400px--PhysicsEngine.ogv.jpg"><br>Hello World!</div>
            </div>
        </div>
        <img src="https://www.meritstore.in/wp-content/uploads/2016/12/10-reasons-to-love-Physics.png?x79684" id="background">
        <footer> Lorem Ipsum</footer>
    </body>
</html>
